* {
  box-sizing: border-box;
  margin: 0 auto;
}
.wrapper {
  margin: 0 auto;
}
.clearfix {
  content: "";
  display: table;
  clear: both;
}
body {
  font-family: "Roboto", "Open+Sans", sans-serif;
  font-size: 18px;
  color: #555252;
}

.menu-link {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #0f0101;
  text-transform: uppercase;
  text-decoration: none;
}
.menu-link:hover {
  color: #55a190;
}
.menu-item {
  display: inline-block;
  padding-right: 20px;
}
.menu-item:last-child {
  padding: 0;
}
.nav-menu {
  padding: 30px 0 50px 0;
  display: block;
}
.menu {
  float: right;
}

.site-logo {
  float: left;
}

.content {
  padding: 0 30px;
  width: 1170px;
  margin: 0 auto;
}
.slider {
  height: 600px;
  background-image: url(../img/slider.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.slider-item {
  position: relative;
  padding: 0 30px;
  width: 1170px;
  height: 600px;
  margin: auto;
}
.slider-name {
  width: 695px;
  height: 100px;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 56px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  text-align: left;
}
.small {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

.slider-ctrl {
  background-color: rgba(78, 198, 171, .6);
  position: absolute;
  border: none;
  width: 104px;
  height: 104px;
  transform: translateY(-50%);
}
.slider-ctrl:hover {
  background-color: rgba(78, 198, 171, 1);  
}

.slider-ctrl-prev {
  top: 50%;
}
.slider-ctrl-next {
  right: 0;
  top: 50%;
}

.title {
  font-size: 48px;
  font-family: "Roboto";
  color: rgb(81, 81, 81);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 80px;
  margin-top: 0;
}

h2::after {
  content: "";
  width: 160px;
  height: 6px;
  display: block;
  background-color: rgb(26, 188, 156);
  margin: 30px auto 0;
}

.content-list {
  background-color: rgb(233, 240, 253);
  padding-top: 80px;
  padding-bottom: 80px;
}
.shop-cart {
  box-sizing: content-box;
  padding: 0;
}
.cart:first-child {
  margin-left: 0;
}
.cart:last-child{
  margin-right: 0;
}


.cart {
  width: 255px;
  height: 322px;
  float: left;
  margin: 0 15px;
  background: #fff;
  cursor: pointer;
}

.cart-img-wrp {
  overflow: hidden;
  height: 283px;
  position: relative;
}
.cart-modal {
  position: absolute;
  background-color: rgb(0, 0, 0);
  opacity: 0;
  width: 235px;
  height: 261px;
  left: 10px;
  top: 11px;
  transition-duration: 0.3s;
  z-index: 10;
}
.cart-icon-wrapper {
  position: absolute;
  opacity: 0;
  width: 235px;
  left: 24px;
  top: 90px;
  transition-duration: 0.3s;
  z-index: 20;
}
.cart-img {
  width: 100%;
  height: auto;
  display: block;
}
.cart-text-wrp {
  width: 255px;
  line-height: calc(322px - 283px);
  background: #323232;
  overflow: hidden;
  color: #fff;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  transition-duration: 0.3s;
}
.cart-title {
  padding-left: 14px;
}
.cart-price {
  float: right;
  background: #8c8c8c;
  padding: 0 12px;
  transition-duration: 0.3s;
}
.cart:hover .cart-text-wrp {
  background: #1abc9c;
}
.cart:hover .cart-price {
  background: #7fd9c7;
}
.cart:hover .cart-modal {
  opacity: 0.549;
}
.cart:hover .cart-icon-wrapper {
  opacity: 1;
}
/*  ========== btn ============= */
.icon-btn {
  --s: 50px;
  box-sizing: border-box;
  background: transparent;
  margin: 0 8px 10px;
  height: var(--s);
  width: var(--s);
  border: 1px solid #fff;
  cursor: pointer;
  vertical-align: top;
}
.icon-btn--add {
  --s: 50px;
  width: calc(var(--s) * 3 + 4 * 10px);
  background: #323232;
  text-transform: uppercase;
  font-family: sans-serif;
}
.icon-btn:hover {
  background: #1abc9c;
  opacity: 1;
  border: 1px solid #1abc9c;
}
/* ======== icon ============== */
.icon {
  background-color: transparent;
  width: 25px;
  height: auto;
  display: block;
  margin: auto;
}
.icon-cart {
  float: left;
}
.icon-btn-text {
  padding-top: 4px;
  float: right;
  margin-right: 10px;
  color: #fff;
}



footer { 
  font-size: 16px;
  position: relative;
  background: #323232;
  height: 90px;
  text-align: center;
  vertical-align: middle;
  color: #fff;
}
.footer-link {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  text-transform: inherit;
}
.link {
  font-size: 16px;
  text-decoration: none;
  color: #fff;
}
.link:hover {
 color:rgb(69, 182, 161);
   
}




























/* .shop {
  list-style: none;
  padding: 0;
} */
/* .shop-card {
  display: inline-block;
  width: 255px;
  margin: 0 10px 0 10px;
} */
/* .shop-card:first-child {
  margin-left: 0;
}
.shop-card:last-child {
  margin-right: 0;
} */
/* .icon-container:hover {
  border: 10px solid rgb(255, 255, 255);
}
.card-text-wrp {
  font-weight: bold;
  height: calc(320px - 280px);
  background: #323232;
  overflow: hidden;
  color: #fff;
  font-size: 18px;
  font-family: "Roboto";
  text-transform: uppercase;
  transition-duration: 0.3s;
}

.shop-img {
  position: relative;
  height: 280px;
  overflow: hidden;
}
.card-title {
  padding-left: 13px;
}
.card-title,
.card-price {
  line-height: calc(320px - 280px);
}
.card-price {
  float: right;
  background: #8c8c8c;
  padding: 0 12px;
  transition-duration: 0.3s;
} */
/* .collection {
  margin: 0 auto;
} */
/* .icon li {
  display: inline-block;
}
.icon {
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 166px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon-link:hover .icon1 {
  background-color: rgb(26, 188, 156);  
}
.icon-link:hover .icon2 {
  background-color: rgb(26, 188, 156);  
}
.icon-link:hover .icon3 {
  background-color: rgb(26, 188, 156);  
}
.icons {
  float: left;
  text-decoration: none;
  width: 50px;
  height: 50px;
  border: 1px solid rgb(255, 255, 255);
}
.icons {
  background-repeat: no-repeat;
  background-position: center;
}
.icon-link:hover {
  background-color: rgb(26, 188, 156);
}
.icon1 {
  background-image: url(../img/icon/like.png);
}
.icon2 {
  background-image: url(../img/icon/transform.png);
}
.icon3 {
  background-image: url(../img/icon/clock.png);
}


.by-card {
  position: absolute;
  top: 50%;
  left: 10%;
  text-transform: uppercase;
  background-color: rgb(50, 50, 50);
  font-size: 14px;
  color: #fff;
  border: 1px solid rgb(255, 255, 255);
  height: 48px;
  width: 167px;
  text-decoration: none;
 }


.icon-list{
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.icon-list:hover {
  background-color: rgb(0, 0, 0, 0.6);
  border: 10px solid rgb(255, 255, 255,0.8);
  opacity: 1;
}

.text-wrp {
   position: absolute;
   top: 50%;
   left: 35%;
   transform: translateY(-50%);
 }
.by-card::before {
   position: absolute;
   vertical-align: middle;
   display: inline-block;
   width: 28px;
   height: 28px;
   content: '';
   background-image: url(../img/icon/cash.png);
   background-size: contain;
   background-position: center;
   top: 50%;
   left: 10%;
   transform: translateY(-50%);
 }*/
