* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.wrapper {
  min-width: 1600px;
  margin: 0 auto;
}
.clearfix {
  content: '' ;
  display: table;
  clear: both;
}
body {
  font-family: 'Roboto','Open+Sans', sans-serif;
  font-size: 18px;
  color: #555252;
}

.menu-link { 
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #0f0101;
  text-transform: uppercase;
  text-decoration: none;
}
.menu-link:hover { 
color:  #55a190;
}
.menu-item { 
  display: inline-block;
  padding-right: 20px;
}
.menu-item:last-child { 
  padding: 0;;
}
.nav-menu {
  width: 1170px;
  padding-bottom: 25px;
}
.menu { 
  width: 475px;
  float: right;
}

.site-logo {
  float: left;
}

.container { 
  width: 100%;
  padding: 38px 245px 0;
  background: rgb(0, 0, 0, 0.3  );
}
.content {
  padding: 0 30px;
}
.slider {
  position: relative;
  height: 600px;
  
}
.slider-name {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
  font-size: 14px;
  font-family: "OpenSans";
  color: rgb(26, 188, 156);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.786;
}
.slider-ctrl {
 background-color: rgb(78, 198, 171);
 opacity: 0.651;
 position: absolute;
 border: none;
 width: 104px;
 height: 104px;
 transform: translateY(-50%)
}

/* img {
  display: block;
  height: auto;
  max-width: 100%;
} */


.slider-ctrl-prev {
  top: 50%;
  
}
.slider-ctrl-next {
  right: 0;
  top: 50%;
}
.slides {
  list-style: none;
}
.slides img {
  height: 600px; 
  object-fit: cover;
  width: 100%;
}




