* {
  font-family: "Playfair Display", serif;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.nav-page {
  padding: 77px 104px 100px;
}
.menu {
  vertical-align: middle;
  margin: 0 auto 0 50px;
  padding: 0;
}
.menu li {
  display: inline-block;
}
.menu li:not(:last-child) {
  margin-right: 100px;
}
.block {
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}
a:hover {
  color: rgb(3, 169, 244);
}
.wrapper {
  width: 901px;
  margin: 0 auto;
}

.carts {
  font-size: 0;
  margin-bottom: 45px;
}

.cart {
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 65px;
  display: inline-block;
  max-width: 420px;
  vertical-align: top;
}
.cart:nth-child(2n) {
  margin-left: 61px;
}

.card-title {
  font-size: 14px;
  color: rgb(180, 173, 158);
  text-transform: uppercase;
  line-height: 1.2;
}

.card-subtitle {
  font-size: 30px;
  color: rgb(98, 98, 98);
  line-height: 1.2;
}
.card-description {
  font-size: 14px;
  color: rgb(98, 98, 98);
  line-height: 1.714;
}

.wrapper {
  width: 901px;
}
.load_buttom {
  width: 165px;
  height: 60px;
  background-color: white;
  border: 1px solid black;
  color: rgb(98, 98, 98);
  padding: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 65px;
}
