* {
  font-family: "Playfair Display", serif;
}

.carts {
  width: 960px;
}
.cart{
  display: inline-block;
  max-width: 350PX;
}

.cart1 {
  margin: 40px;
  width: 380px;
}

.style {
  margin-top: 14px;
  font-size: 14px;
  color: rgb(180, 173, 158);
  text-transform: uppercase;
  line-height: 1.2;
  position: absolute;
  width: 380px;
}

.zagolovok {
  margin-top: 50px;
  font-size: 25px;
  color: rgb(98, 98, 98);
  line-height: 1.2;
  position: absolute;
  height: 800;
  width: 380px;
}
.text {
  margin-top: 110px;
  font-size: 14px;
  color: rgb(98, 98, 98);
  line-height: 1.714;
  text-align: left;
  position: absolute;
  width: 380px;
}

.cart2 {
  box-sizing: border-box;
  margin: 60px;
  width: 380px;
}

.style1 {
  margin-top: 15px;
  font-size: 14px;
  color: rgb(180, 173, 158);
  text-transform: uppercase;
  line-height: 1.2;
  position: absolute;
  width: 380px;
}

.text1 {
  margin-top: 110px;
  font-size: 14px;
  color: rgb(98, 98, 98);
  line-height: 1.714;
  text-align: left;
  position: absolute;
  width: 380px;
}

.zagolovok1 {
  margin-top: 50px;
  font-size: 25px;
  color: rgb(98, 98, 98);
  line-height: 1.2;
  position: absolute;
  height: 800;
}
