* {
  box-sizing: border-box;
  margin: 0 auto;
}
.wrapper {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}


.container {
max-width: 1000px;
margin: 0 auto;
}
.form {
  box-shadow: 0 0 10px rgb(136, 255, 189); 
  padding: 30px;
  width: 400px;
  display: block;
  color: indigo;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: inherit;
}
input::placeholder,
textarea::placeholder{
  font-size: 16px;
  color: indigo;
  font-family: sans-serif;
}

.input {
  border: 2px solid rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
}
textarea{
  width: 100%;
  margin-bottom: 20px;
  border: 2px solid rgba(0, 0, 0, 0.4);
}
.btn {
  background: rgba(0, 0, 0, 0.4);
  color: indigo;
  display:block;
  margin: 0 auto;
  width: 50%;
  height: 50px;
  border: none;
  padding: 0;
  cursor: pointer;
}

